<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Divorce Haiku Generator</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css' ) }}"/>
        <script src="https://code.iconify.design/iconify-icon/1.0.8/iconify-icon.min.js"></script>
    </head>
    <body>
        <header>
                <h1> Divorce Letter Haiku Generator </h1>
        </header>
        <main id="main-window">
            <div class="primary-window">
                <div id="generator-menu" class="menu-box">
                    <label for="name_input">Name:</label>
                    <input type="text" id="name_input" placeholder="Enter name">
                    <label for="reason_input">Reason:</label>
                    <input type="text" id="reason_input" placeholder="Enter reason">
                    <label for="anger_input">Anger:</label>
                    <input type="range" id="anger_input" min="1" max="10" value="1">
                    <button id="generate_button">
                        <p>Generate Haiku</p>
                    </button>
                    <div class="welcome-box">
                        <p>Welcome to Michael Lance's ridiculous Advanced Python Programming final! And yes, this was seriously turned
                        in for college credit. This wacky tool leverages OpenAi's api module for the wacky snake language to generate
                        hilarious (sometimes) haiku divorce letters. </p>
                        <br>
                        <p>This spicy webapp uses flask on the server side to interact with a custom haiku generator python module I 
                        wrote instead of having a social life. This little mess is all tied together with some swanky (new to me)
                        javascript on the client side utilizing axios to handle asynchronous communication with the server.
                        </p>
                        <br>
                        <p>It should be obvious this site is intended to be a light hearted joke, but if you actually serve one of
                            these haikus with your divorce papers, more power to ya. (for legal reasons thats a joke)
                        </p>
                        <br>
                        <p>Yeah, I am definitely not the kid my parents brag about, and honestly
                        I wouldn't brag about me either. </p>
                    </div>
                    <button class="hide-window" id="peek-background">
                    <p>peek at the background (cick and hold)</p>
                    </button>
                </div>
                <div id="settings-menu" style="display: none">

                </div>
                <div id="response-area" class="response-box">
                    <pre id="haiku-box"></pre>
                </div>
                
                
            </div>
            <div class="tool_bar" id="menu-bar">
                    <button id="generator-button" class="menu-button" conclick="showGenerator()">
                        <p>Generator</p>
                    </button>
                    <button id="settings-button" class="menu-button" onclick="showSettings()">
                        <p>Settings</p>
                    </button>
                    
                </div>            
            </div>
        </main>
        <footer>
            <div>
                <p>&copy; <script>document.write(new Date().getFullYear())</script> Michael B. Lance, all rights reserved | Alpha v1.1</p> 
            </div>
            <div class="social_links">
                <a href="https://github.com/MikeL270/Divorce-Haiku_generator" target="_blank">
                    <iconify-icon icon="mdi:github" width="1.2em" height="1.2em"  style="color: #0406a4"></iconify-icon>
                </a>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="static/javascript/buttons.js"></script>
        <script src="static/javascript/axios_handler.js"></script>
        <script src="static/javascript/peek_background.js"></script>
        <script src="static/javascript/change_background.js"></script>
    </body>
</html>