<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Divorce Haiku Generator</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css' ) }}"/>
        <script src="https://code.iconify.design/iconify-icon/1.0.8/iconify-icon.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="{{url_for('static', filename='js/frontend.js')}}"></script>
    </head>
    <body>
        <header>
                <h1> Divorce Letter Haiku Generator </h1>
        </header>
        <main>
            <div id="vue-container">
                <div id="options-container" class="ui-container">
                    <div id="generator-options" class="ui-tab" v-show="activeGenTab === 1"> 
                        <label for="name-input">Name:</label>
                        <input type="text" ref="nameInputRef" id="name-input" placeholder="Enter name" >
                        <label for="reason-input">Reason:</label>
                        <input type="text" ref="reasonInputRef" id="reason-input" placeholder="Enter reason" >
                        <label for="anger-input">Anger:</label>
                        <input type="range" ref="angerInputRef" id="anger-input" min="1" max="10" value="1" >
                        <button id="generate_button" v-on:click="send_haiku()">
                            <p>Generate Haiku</p>
                        </button>
                    </div>
                    <div id="settings-options" id="generator-options" class="ui-tab" v-show="activeGenTab === 2">
                        <p> hi mom</p>
                    </div>
                    <div id="gen-nav" class="navigation-bar">
                        <button id="generator-button" class="navigation-button" @click="activate_gen_tab(1)">
                            <p>Generator</p>
                        </button>
                        <button id="settings-button" class="navigation-button" @click="activate_gen_tab(2)">
                            <p>Settings</p>
                        </button>
                    </div>
                </div>
                <div id="output-container" class="ui-container">
                    <div id="output-window" class="ui-tab" v-show="activeOutTab === 1">
                        <pre id="output">{{ '{{ generatedHaiku }}' }}</pre>
                    </div>
                        <div id="output-nav" class="navigation-bar">
                            <button id="output-button" class="navigation-button" @click="activate_out_tab(1)">
                                <p>Output</p>
                            </button>
                            <button id="haiku-record-ubtton" class="navigation-button" @click="activate_out_tab(2)">
                                <p>Recorded Haikus</p>
                            </button>
                        </div>
                    <div id="recorded-haikus" class="ui-tab" v-show="activeOutTab === 2">
                        <p>hi mom</p>
                    </div>
                    </div>
            </div>
        </main>
        <footer>
            <div>
                <p>&copy; <script>document.write(new Date().getFullYear())</script> Michael B. Lance, all rights reserved | Alpha v1.1</p> 
            </div>
            <div class="social_links">
                <a href="https://github.com/MikeL270/Divorce-Haiku_generator" target="_blank">
                    <iconify-icon icon="mdi:github" width="1.2em" height="1.2em"  style="color: #0406a4"></iconify-icon>
                </a>
            </div>
        </footer>
</html>